@use "colors";
@use "responsive";


%container {
  max-width: responsive.$desktop-breakpoint;
  margin: 0 auto;
}

.header {
    background-color: colors.$black;
    color: colors.$mercury;

    &__nav {
      display: flex;
      flex-direction: column;
      @extend %container;
  
      @include responsive.tablet {
        flex-direction: row;
        padding: 0 2.25rem;
        gap: 2rem;
      }
    }
  
    &__image {
      margin: .5rem auto;
  
      @include responsive.tablet {
        margin: 1.5rem 0 ;
      }
    }
  
    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      gap: 1rem;
    }
  
    &__item {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &--selected {
        color: colors.$white;
        border-bottom: .25rem solid colors.$white;
      }
    }

    &__link {
      margin: .5rem auto;
    }
  }
  
.footer {
    background-color: colors.$black;
    color: colors.$white;
    position: relative;
    padding-bottom: .5rem;

    &__container{
      @extend %container;
      padding: 1rem;

      @include responsive.tablet {
        padding: 2rem;
      }
    }
  
    &__title {
      margin: .5rem 0;
      @include responsive.tablet {
        display: inline-block;
        margin-right: 2rem;
      }
    }
  
    &__contacts {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      gap: .5rem;
      
      @include responsive.tablet {
        flex-direction: row;
        gap: 5rem;
      }
    }
    &__icon {
      &--center {
        margin: auto 2rem;
      }
    }
  
    &__social {
      text-decoration: none;
    }
  
    &__person, &__location {
      margin-bottom: 0;
    }
  
    &__organization {
      margin: 0;
    }
  
    &__location-continue {
      margin-top: 0;
    }
  
    &__email {
      color: colors.$white;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  
    &__image {
      display: block;
      padding: 1rem 1rem .5rem;
      @include responsive.tablet {
        position: absolute;
        top: 2rem;
        right: 1rem;
      }
    }
  
    &__copyright {
      margin: .5rem 1rem 1rem;
      @include responsive.tablet {
        margin: 1rem 2rem;
      }
    }
  }
  