@use "colors";
@use "responsive";

.header {
    background-color: colors.$black;
    color: colors.$mercury;

    &__nav {
      display: flex;
      flex-direction: column;
      max-width: responsive.$desktop-breakpoint;
      margin: 0 auto;
  
      @include responsive.tablet {
        flex-direction: row;
        padding: 0 2.25rem;
        gap: 2rem;
      }
    }
  
    &__image {
      margin: .5rem auto;
  
      @include responsive.tablet {
        margin: 1.5rem 0 ;
      }
    }
  
    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      gap: 1rem;
    }
  
    &__item {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &--selected {
        color: colors.$white;
        border-bottom: .25rem solid colors.$white;
      }
    }

    &__link {
      margin: .5rem auto;
    }
  }
  
.footer {
    background-color: colors.$black;
    height: fit-content;
    color: colors.$white;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
  
    @include responsive.tablet {
      position: relative;
    }
  
    &__title {
      margin-top: 0.5em;
  
      @include responsive.tablet {
        display: inline-block;
        margin-right: 1em;
      }
  
      @include responsive.desktop {
        margin-left: 3rem;
      }
    }
  
    &__contacts {
      @include responsive.tablet {
        display: flex;
        flex-direction: row;
        gap: 5rem;
      }
    }
    &__icon {
      margin-top: 1em;
  
      &--center {
        margin: auto 1.5em;
      }
  
      @include responsive.desktop {
        margin-left: 3rem;
      }
    }
  
    &__social {
      text-decoration: none;
    }
  
    &__person {
      padding: 0;
      margin-bottom: 0;
  
      @include responsive.desktop {
        margin-left: 3rem;
      }
    }
  
    &__organization {
      margin: 0;
      padding: 0;
  
      @include responsive.desktop {
        margin-left: 3rem;
      }
    }
  
    &__location {
      margin-bottom: 0;
  
      @include responsive.desktop {
        margin-left: 3rem;
      }
    }
  
    &__location-continue {
      margin-top: 0;
  
      @include responsive.desktop {
        margin-left: 3rem;
      }
    }
  
    &__email {
      color: colors.$white;
      display: block;
      padding-top: 0.5em;
      padding-bottom: 1em;
  
      @include responsive.desktop {
        margin-left: 3rem;
      }
    }
  
    &__image {
      display: block;
      height: fit-content;
      margin: 4em auto 1em;
  
      @include responsive.tablet {
        position: absolute;
        top: -1rem;
        right: 4rem;
      }
  
      @include responsive.desktop {
        right: 6rem;
      }
    }
  
    &__copyright {
      font-size: 0.7rem;
  
      @include responsive.tablet {
        margin-top: 2em;
      }
  
      @include responsive.desktop {
        margin-left: 3rem;
      }
    }
  }
  