@use "responsive";

$regular: 400;
$demi: 600;
$bold: 700; 

%text-sm{
  font-size: .8125rem;
  line-height: 1.125rem;
  font-weight: $regular;
}

%text-base {
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: $demi;
}

%text-lg {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: $bold;
}

h1 {
  @extend %text-lg;
  @include responsive.tablet{
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  @extend %text-lg;
  @include responsive.tablet{
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  @extend %text-base;
  @include responsive.tablet{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

body {
  @extend %text-sm;
  @include responsive.tablet {
    font-size: .875rem;
    line-height: 1.375rem;
  }
}

footer {
  @extend %text-sm;
  @include responsive.tablet {
    font-size: .875rem;
    line-height: 1.25rem;
  }
}

label,
button {
  font-size: .625rem;
  height: 1.25rem;
  font-weight: $bold;
  @include responsive.tablet {
    font-size: .75rem;
  }
}
