/* COLORS */ 
$dark-black: #000000;
$black: #323232;
$black-50: #32323280;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$white: #ffffff;
/* LAYOUT GRID */
$mobile-min: 320px;
$mobile-layout-columns: 6;
$mobile-layout-column: auto;
$mobile-layout-gutter: 16px;
$mobile-layout-margin: 16px;

$tablet-min: 768px;
$tablet-layout-columns: 12;
$tablet-layout-column: auto;
$tablet-layout-gutter: 24px;
$tablet-layout-margin: 36px;

$desktop-min:1280px;
$desktop-layout-columns: 12;
$desktop-layout-column: 63px;
$desktop-layout-gutter: 24px;
$desktop-layout-margin: auto;
/* PADDING */
$padding-unit: 8px;