.comments, .gallery__container, .about, .hero__container {
  max-width: 1280px;
  margin: 0 auto;
}

.comments, .gallery__container, .about, .hero__container {
  padding: 1rem;
}
@media (min-width: 768px) {
  .comments, .gallery__container, .about, .hero__container {
    padding: 2.25rem;
  }
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5019607843), rgba(50, 50, 50, 0.5019607843)), url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: contain;
  max-height: 40rem;
  color: #ffffff;
}
.hero__container {
  min-height: 10rem;
  height: 100%;
  max-height: 40rem;
  display: flex;
  align-items: center;
}

.about__article-p, .about__section-header, .about__cite, .about__quote {
  display: block;
}

.about {
  padding-top: 1rem;
}
.about__article {
  display: block;
  margin-left: 4rem;
  margin-right: 4rem;
  max-width: 95vw;
}
.about__article-text {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__image {
  width: 100%;
  height: auto;
  max-height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.about__cite {
  margin-top: 0;
}
@media (min-width: 768px) {
  .about__article-text {
    flex-direction: row;
  }
}

.gallery {
  background-color: #f2f4f3;
  padding: 1rem;
}
@media (min-width: 1280px) {
  .gallery {
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #f2f4f3;
  }
}
.gallery__images {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .gallery__images {
    flex-direction: row;
  }
}
.gallery__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 95vw;
  height: auto;
}
@media (min-width: 768px) {
  .gallery__image {
    max-width: 32%;
  }
}

.comments__card-aside-avatar, .comments__form-avatar {
  width: 2.25rem;
  height: 2.25rem;
  background-color: #e1e1e1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .comments__card-aside-avatar, .comments__form-avatar {
    width: 3rem;
    height: 3rem;
  }
}

.comments__card, .comments__form-container {
  border-bottom: 1px solid #e1e1e1;
}

.comments__form {
  flex-grow: 1;
  padding: 0 0 0.5rem 0.5rem;
}
.comments__form-container {
  display: flex;
  margin-bottom: 1rem;
}
.comments__form-avatar {
  margin-top: 1.19rem;
}
.comments__form-field:first-child {
  padding-top: 0;
}
.comments__form-field-label {
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #afafaf;
}
.comments__form-field-input {
  min-height: 2.25rem;
  padding: 0.75rem;
  font-size: 0.75rem;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
}
.comments__form-field-input:focus {
  border: 1px solid #08383b;
}
.comments__form-field-input:invalid {
  border: 1px solid #d22d2d;
}
.comments__form-submit-button {
  background-color: #08383b;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  height: 2rem;
  width: 100%;
}
.comments__form-submit-button:hover {
  background-color: #000000;
}
.comments__form-submit-button-container {
  display: flex;
}
@media (min-width: 768px) {
  .comments__form-container {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto 1.5rem;
  }
  .comments__form-field-input {
    min-height: 3rem;
    padding: 1rem;
  }
  .comments__form-submit-button {
    height: 2.5rem;
    min-width: 9.375rem;
    width: 10%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
  }
}
.comments__card {
  padding: 0.5rem;
  display: flex;
}
.comments__card-aside {
  padding-right: 0.25rem;
}
.comments__card-main {
  flex-grow: 1;
  padding-left: 0.25rem;
}
.comments__card-main-top {
  margin-bottom: 0.25rem;
  display: flex;
  flex-direction: row;
}
.comments__card-main-top-user {
  font-size: 0.625rem;
  margin: 0;
  font-weight: 600;
}
.comments__card-main-top-spacer {
  flex-grow: 1;
}
.comments__card-main-top-date {
  color: #afafaf;
  margin: 0;
  font-size: 0.625rem;
}
.comments__card-main-body {
  margin: 0;
}
@media (min-width: 768px) {
  .comments__card {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto 1.5rem;
  }
}/*# sourceMappingURL=bio.css.map */