@use "partials/colors";
@use "partials/responsive";
@use "partials/mixins";

%container {
  max-width: responsive.$desktop-breakpoint;
  margin: 0 auto;
}

%margins {
  padding: 1rem;
  @include responsive.tablet {
    padding: 2.25rem;
  }
}

.hero {
  @include mixins.hero-background("hero-bio.jpg");
  &__container {
    @extend %container;
    @extend %margins;
    min-height: 10rem;
    height: 100%;
    max-height: 40rem;
    display: flex;
    align-items: center;
  }
}

%fit-vw {
  max-width: calc(100% - 2.25rem);
}

.about {
  padding-top: 1em;
  @extend %container;
  @extend %margins;

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 95vw;
    height: auto;
    @include responsive.tablet {
      height: 60vw;
      width: 75vw;
    }

    @include responsive.desktop {
      max-width: 65em;
      max-height: 40em;
    }

    &__title {
      margin: 0.25em 0.5em;

      @include responsive.desktop {
        padding-left: 3rem;
        margin: 1em;
      }
    }

    &__quote {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 1em 1em 0.25em;

      @include responsive.tablet {
        padding: 1em 3.8em 0.25em;
      }

      @include responsive.desktop {
        max-width: 38em;
        margin-left: 3em;
      }
    }

    &__cite {
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-style: normal;
      padding: 0 1em;
      margin-top: 0;

      @include responsive.tablet {
        padding: 1em 4.5em 0.25em;
      }

      @include responsive.desktop {
        padding-left: 6.5em;
      }
    }

    &__section-header,
    &__article-p {
      margin: 1rem;
    }

    &__section-header {
      @include responsive.tablet {
        padding: 1em 3em 1em;
      }

      @include responsive.desktop {
        padding-left: 6.5em;
      }
    }

    &__article-p {
      @include responsive.tablet {
        display: inline-block;
        max-width: 35vw;
      }

      &--left {
        @include responsive.tablet {
          margin-left: 6em;
        }

        @include responsive.desktop {
          margin-left: 14em;
        }
      }
    }
  }
}

.gallery {
  background-color: colors.$alabaster;
  padding: 1rem;

  @include responsive.desktop {
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: colors.$alabaster;
  }

  &__images {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;

    @include responsive.tablet {
      flex-direction: row;
    }
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 95vw;
    height: auto;

    @include responsive.tablet {
      max-width: 30vw;
    }

    @include responsive.desktop {
      max-width: 29vw;
    }
  }

  &__title {
    @include responsive.tablet {
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }
  }
}

%avatar {
  width: 2.25rem;
  height: 2.25rem;
  background-color: colors.$mercury;
  object-fit: cover;
  object-position: left;
  border-radius: 50%;
  @include responsive.tablet {
    width: 3rem;
    height: 3rem;
  }
}

%divider {
  border-bottom: 1px solid colors.$mercury;
}

.comments {
  @extend %container;
  @extend %margins;

  &__form {
    flex-grow: 1;
    padding: 0 0 0.5rem 0.5rem;

    &-container {
      display: flex;
      margin-bottom: 1rem;
      @extend %divider;
    }

    &-avatar {
      @extend %avatar;
      margin-top: 1.19rem;
    }

    &-field {
      &:first-child {
        padding-top: 0;
      }

      &-label {
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        font-weight: 400;
        color: colors.$silver;
      }

      &-input {
        min-height: 2.25rem;
        padding: 0.75rem;
        font-size: 0.75rem;
        width: 100%;
        border: 1px solid colors.$mercury;
        border-radius: 0.25rem;

        &:focus {
          border: 1px solid colors.$black;
        }

        &:invalid {
          border: 1px solid #d22d2d;
        }
      }
    }

    &-submit-button {
      background-color: colors.$black;
      color: colors.$white;
      border: none;
      border-radius: 0.25rem;
      font-size: 0.75rem;
      text-transform: uppercase;
      height: 2rem;
      width: 100%;

      &:hover {
        background-color: colors.$dark-black;
      }

      &-container {
        display: flex;
      }
    }

    @include responsive.tablet {
      &-container {
        width: 90%;
        max-width: 50rem;
        margin: 0 auto 1.5rem;
      }

      &-field {
        &-input {
          min-height: 3rem;
          padding: 1rem;
        }
      }

      &-submit-button {
        height: 2.5rem;
        min-width: 9.375rem;
        width: 10%;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: auto;
      }
    }
  }

  &__card {
    @extend %divider;
    padding: 0.5rem;
    display: flex;
    &-aside {
      padding-right: 0.25rem;
      &-avatar {
        @extend %avatar;
      }
    }

    &-main {
      flex-grow: 1;

      padding-left: 0.25rem;
      &-top {
        margin-bottom: 0.25rem;
        display: flex;
        flex-direction: row;

        &-user {
          font-size: 0.625rem;
          margin: 0;
          font-weight: 600;
        }

        &-spacer {
          flex-grow: 1;
        }

        &-date {
          color: colors.$silver;
          margin: 0;
          font-size: 0.625rem;
        }
      }

      &-body {
        margin: 0;
      }
    }

    @include responsive.tablet {
      width: 90%;
      max-width: 50rem;
      margin: 0 auto 1.5rem;
    }
  }
}
