@use "partials/colors";
@use "partials/responsive";
@use "partials/mixins";

%container {
  max-width: responsive.$desktop-breakpoint;
  margin: 0 auto;
}



.hero {
  @include mixins.hero-background("hero-bio.jpg");

  display: flex;
  align-items: center;
  height: 60vw;
  

  @include responsive.desktop {
    max-height: 50em;
  }

  &__title {
    color: colors.$white;
    margin-left: 0.5em;

    @include responsive.desktop {
      margin-left: 2em;
    }
  }
}



.about {
  padding-top: 1em;

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 95vw;
    height: auto;
    @include responsive.tablet {
      height: 60vw;
      width: 75vw;
    }

    @include responsive.desktop {
      max-width: 65em;
      max-height: 40em;
    }
  }

  &__title {
    margin: 0.25em 0.5em;
    

    @include responsive.desktop {
      
      padding-left: 3rem;
      margin: 1em;
    }
  }

  &__quote {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em 0.25em;

    @include responsive.tablet {
      padding: 1em 3.8em 0.25em;
    }

    @include responsive.desktop {
      max-width: 38em;
      margin-left: 3em;
    }
  }

  &__cite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    padding: 0 1em;
    margin-top: 0;

    @include responsive.tablet {
      padding: 1em 4.5em 0.25em;
    }

    @include responsive.desktop {
      padding-left: 6.5em;
    }
  }

  &__section-header,
  &__article-p {
    margin: 1rem;
  }

  &__section-header {

    @include responsive.tablet {
      padding: 1em 3em 1em;
    }

    @include responsive.desktop {
      padding-left: 6.5em;
    }
  }

  &__article-p {


    @include responsive.tablet {
      display: inline-block;
      max-width: 35vw;
    }

    &--left {
      @include responsive.tablet {
        margin-left: 6em;
      }

      @include responsive.desktop {
        margin-left: 14em;
      }
    }
  }
}

.gallery {
  background-color: colors.$alabaster;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;

  @include responsive.desktop {
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: colors.$alabaster;
  }

  &__images {
    display: flex;
    margin-bottom: 1em;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;

    @include responsive.tablet {
      flex-direction: row;
    }
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 95vw;
    height: auto;

    @include responsive.tablet {
      max-width: 30vw;
    }

    @include responsive.desktop {
      max-width: 29vw;
    }
  }

  &__title {

    @include responsive.tablet {
      margin-top: 0.5em;
      margin-bottom: 0.25em;
    }
  }
}

