@use "partials/colors";
@use "partials/responsive";
@use "partials/mixins";

%container {
  max-width: responsive.$desktop-breakpoint;
  margin-right: 1rem;
  margin-left: 1rem;

  @include responsive.tablet {
    margin-right: 2.25rem;
    margin-left: 2.25rem;
  }

  @include responsive.desktop{
    margin-right: auto;
    margin-left: auto;
  }
}

.hero{
  @include mixins.hero-background("hero-shows.jpg");
  
  min-height: 16rem;
  height: 60vw;

  &__container{
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  &__cta{
    width: calc(100% - 1rem);
    &-label{
      margin-bottom: 0;
    }
    &-album{
      max-width: 75%;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  &__media{
    padding: 0;
    margin: 0;
    min-width: 17rem;
    width: 60%;
    max-width: 30rem;
    min-height: 7rem;
    height: 25vw;
    max-height: 11rem;

    &-container{
      width: calc(100% - 1rem);
      padding: 0;
      margin: 0;
      display: flex;
    }
  }

  @include responsive.tablet {
    &__cta{
      &-label{
        font-size: 1.5rem;
      }
      &-album{
        margin-top: 1.375rem;
        margin-bottom: 1.375rem;
        font-size: 3.75rem;
        line-height: 4.25rem;
      }
    }
  }

}

.shows {

  &__container{
    @extend %container;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__card{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid colors.$silver;

    &-col{

      &-label{
        color: colors.$silver;
        font-size: 0.75rem;
        display: block;
      }

      &-value{
        margin-top: .5rem;
        font-size: 0.875rem;

        &--bold{
          font-weight: 600;
        }

      }

      &--button{
        padding-right: .5rem;
        padding-left: .5rem;
      }
    }

    &-button{
      background-color: colors.$black;
      color: colors.$white;
      border: none;
      border-radius: .25rem;
      font-size: 0.75rem;
      text-transform: uppercase;
      height: 2rem;
      width: 100%;
    }
  }



}

